<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>151421230024-m5vd41dnda0chqb1e9drm23cvp2vr00e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.151421230024-m5vd41dnda0chqb1e9drm23cvp2vr00e</string>
	<key>API_KEY</key>
	<string>AIzaSyBuf1j4W60LqaqCdjygCJAQQUuvzYxS0tk</string>
	<key>GCM_SENDER_ID</key>
	<string>151421230024</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>fr.ilipresto.app</string>
	<key>PROJECT_ID</key>
	<string>presto-app-74abe</string>
	<key>STORAGE_BUCKET</key>
	<string>presto-app-74abe.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:151421230024:ios:c3a75745c492983d2b3efd</string>
	<key>DATABASE_URL</key>
	<string>https://presto-app-74abe-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>
